<!-- header -->
{%- extends "base.html" -%}
{%- block title -%} Календарь дежурства ГУС ОТ {%- endblock -%}

{% block content %}
<div class="content__header">
    <h2 class="display-4">Расписание дежурств</h2>
    <a href="/prev_year" title="предыдущий год"><i class="fas fa-chevron-left"></i></a>
    <a href="/" title="текущий год">{{ cur_year }}</a>
    <a href="/next_year" title="следующий год"><i class="fas fa-chevron-right"></i></a>
    <a href="/admin" class="adminka">админка</a>
</div>

{% for month in months_data %}
<table class="table__custom table__custom_hover table table-responsive-sm  visible-print-block">
<caption>Расписание дежурств ГУС ОТ на {{ month[1] }} {{ current_year }} года <i class="fas fa-print" onclick="print_table(this);"></i> </caption>
    <thead>        
        <tr>
            <th scope="col">Понедельник</th>
            <th scope="col">Вторник</th>
            <th scope="col">Среда</th>
            <th scope="col">Четверг</th>
            <th scope="col">Пятница</th>
            <th scope="col">Суббота</th>
            <th scope="col">Воскресенье</th>
        </tr> 
    </thead>
    <tbody>
        {%- for tr in month[3] | slice(month[2]) -%} 
        <tr>
            {%- for td in tr -%}               
                <td {% if td == 0 %} class="table__custom_unactive-row" 
                    {% else %}   
                     data-toggle="modal" data-target="#ModalRoster" 
                     data-day={{ td }} data-month={{ month[0] }} 
                     data-year={{ current_year }} onclick="get_date(this);"
                    {% endif %} >          
                    {{ td | replace(0, "-") | replace("1-", "10") | replace("2-", "20") | replace("3-", "30") }}
                    
                    {%- for list in schedule -%}
                        {%- if list[4] == month[0] and list[5] == td -%}                    
                            <span class="table__custom_fio" style=background-color:{{ list[2] }}>{{ list[1] }}</span>                            
                        {%- endif -%}                    
                    {%- endfor -%}  
                </td>
            {%- endfor -%}            
        </tr>
        {%- endfor -%}
    </tbody>
</table>
{% endfor %}

{% include "popup_win.html" %}
{% endblock %}