<!-- header -->
{% extends 'base.html' %}
{%- block title -%} Календарь дежурства ГУС ОТ {%- endblock -%}

{% block content %}
    <h2 class="display-4">Расписание дежурств</h2>
    <table class="table__custom table__custom_hover table table-responsive-sm">	
        <caption>Расписание дежурств ГУС ОТ на {{ current_month_name }} {{ current_year }} года</caption>		
			<thead>            
            <tr>
                <th scope="col">Понедельник</th>
                <th scope="col">Вторник</th>
                <th scope="col">Среда</th>
                <th scope="col">Четверг</th>
                <th scope="col">Пятница</th>
                <th scope="col">Суббота</th>
                <th scope="col">Воскресенье</th>
            </tr>
        </thead>
        <tbody>  
            {% for date in dates | slice(6) %}	
            <tr>
                {%- for i in date %}
                    <td {% if i == 0 %} 
                            class="table__custom_unactive-row"
                            {% else %}
                            data-toggle="modal" data-target="#ModalRoster" data-day={{ i }} onclick="duty_date(this);"
                        {% endif %}>
                        {{ i | replace(0, "-") | replace("1-", "10") | replace("2-", "20") | replace("3-", "30") }}
                        
                        <span class="table__custom_fio"> 
                        {% for key, val in persons.items() %}                                                                     
                            {% if key == i %}
                                {{ val }}
                            {% endif %}
                        {% endfor %}
                        </span>                        
                    </td>                 
                {% endfor %}                                               
            </tr>
				{% endfor %}	
        </tbody>
    </table>

{% include "popup_win.html" %}
{% endblock %}