<div class="modal fade" id="ModalRoster" role="dialog" aria-labelledby="ModalRosterTitle">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalRosterTitle">Выберите дежурного на <span id="ModalDate"></span></h5>             
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>      
            </div>
            <div class="modal-body">
                {% for user in users | sort(attribute='surname') %}
                    <a href=" " class="tooltip-test btn__cust_modal" title="{{ user.surname }} {{ user.name }}" data_user_id="{{ user.id }}" onclick="add_duty(this); return false;">
                        {{ user.surname }} 
                        {{ user.name }} 
                        {{ user.patronymic }}
                    </a>                   
                {% endfor %}
            </div>            
            <div class="modal-footer">                              
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <!-- <button type="button" class="btn btn-primary">Сохранить</button> -->
            </div>            
        </div>
    </div>
</div>